/* Intro text */
@font-face {
    font-family: 'alternate_gothic_no2_dregular';
    src: url("custom-fonts/Alternate-Gothic-No2 D-Regular.ttf");
    font-weight: normal;
    font-style: normal;

}

.contact-bar{
    font-size: 1.1rem;
    color: black;
}


.text-introduction{
    font-family: "alternate_gothic_no2_dregular" !important;
    font-size: 32px;
}

.text-bio-par {
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: 500;
}

.icon-container{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
}

.icon-group1, .icon-group2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-group1 span, .icon-group2 span{
    margin: 2rem 0;
}

.icon-group1 a, .icon-group2 a{
    font-size: 1.2rem;
}

.life-list{
    list-style: square;
}

/* Image styles */
#img-personality{
    width: 70%;
    border-radius: 5%;
    border: solid black 3px;
}

.section-heading{
    font-weight: 700;
    font-size: 20px;
}


@media (max-width: 720px) {
    .icon-container{
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .text-introduction{
        font-size: 50px;
    }

    .icon-group1 span, .icon-group2 span{
        margin: 2rem 5rem;
    }
}

@media (min-width: 996px) {
    .icon-group1, .icon-group2{
        flex-direction: row;
    }

    .icon-group1 span, .icon-group2 span{
        margin: 0 1.5rem;
    }
}

@media (min-width: 1200px) {
    .text-introduction{
        font-size: 55px;
    }

    .icon-group1 span, .icon-group2 span{
        margin: 2rem 2rem;
    }

    .bio-icon{
        height: 70px;
    }
}

@media (min-width: 1400px) {
    .text-introduction{
        font-size: 55px;
    }

    .text-bio-par {
        font-size: 1.3rem;
    }
}