/* Navigation bar styles */
/* .navbar-brand:hover{
    color: #E31B6D !important;
  } */
  
  .nav-link {
    color: white !important;
    cursor: pointer;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-brand:hover
   {
    /* color: #E31B6D !important; */
    color: #ef8354 !important;
  }
  
a.active .nav-link, a.active .navbar-brand{
    color: #ef8354 !important;
    /* color: #E31B6D !important; */
    border-bottom: 1px solid #ef8354;
    padding-bottom: 5px;
  }

  .bg-black{
    background-color: black;
  }